.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 120px;
  padding: 0.3% 1%;
}

.cardsContainer__List {
  position: relative;
  max-width: 300;
  border-radius: 4;
  margin-top: 1.5rem;
}

.cardsContainer__Hidden {
  display: none;
}

.cardsContainer__showMore {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

/* Media queries for responsiveness */

@media screen and (max-width: 600px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
  }
  .cardsContainer__List {
    display: flex;
    flex-direction: column;
  }
  .cardsContainer__Hidden {
    display: flex;
    flex-direction: column;
  }
}
